*.dep
*.deps
*.orig
*.rej
*.pc
*.lo
*.o
*.o.cmd
*.d
*.o.d
.*.o.d
*.so
*.so.*
*.la
*.a
*.a.cmd
*.a.list
.libs
.depend
.dirstamp
autom4te.cache
config.h.in~
config.h
config.log
config.status
config_done
config.mk
.configure.cache
libtool
stamp-h1
doxygen.cfg
/romfs
/romfs/*
/images
/images/*
/stage
/stage/*
linux-3.4.x/net/nat/hw_nat/*.h
linux-3.4.x/net/nat/hw_nat/*.c

# Build outputs and tools
/tools/aclocal-*
/tools/automake-*
/tools/mksquashfs_xz/mksquashfs
/tools/mksquashfs_xz/unsquashfs
/tools/mksquashfs_xz/config_xz_done
/tools/lzma/lzma
/tools/mkimage/mkimage
/tools/mktplinkfw/mktplinkfw2
/tools/sstrip/
/tools/ELFkickers-3.2/sstrip/sstrip

# Temp & editor files
*.swp
.*.swp
*~
*.bak

# Active board and subpackage configuration
/.config
/.config.old
Makefile
user/*/*/.config
user/*/*/.config.old
libs/*/*/.config
libs/*/*/build/
user/*/*/build/
po/Makefile
po/Makefile.in
po/POTFILES
po/Makevars.template
po/*.gmo

# Unpacked third-party source packages
libs/libssl/*/openssl-*/
libs/libz/zlib-*/
user/wireguard/wireguard-tools-*/
user/amneziawg/amnezia-*/
user/samba36/samba-*/
tools/lzma/7zip-*/
tools/mksquashfs_xz/xz-*/
linux-3.4.x/drivers/net/wireless/ralink/mt76x2/
linux-3.4.x/drivers/net/wireless/ralink/mt76x3/

# Package-specific build outputs & gnulib artifacts
libs/libcurl/curl-*/*
libs/libyaml/yaml-*/tests/*
libs/libz/zlib-*/zconf.h.included
user/busybox/busybox-*/docs/BusyBox.*
user/busybox/busybox-*/docs/busybox.*
user/busybox/busybox-*/include/common_bufsiz.h.method
user/e2fsprogs/e2fsprogs-*/scrub/*
user/e2fsprogs/e2fsprogs-*/util/symlinks
user/inadyn/inadyn-*/*
user/iptables/iptables-*/extensions/libxt_physdev.*
user/iptables/iptables-*/utils/nfnl_osf
user/parted/parted-*/lib/*.h
user/parted/parted-*/lib/sys/
user/parted/parted-*/lib/malloc/*.h
user/parted/parted-*/m4/*.m4
user/parted/parted-*/parted/parted
user/parted/parted-*/parted/version.*
user/parted/parted-*/partprobe/partprobe
user/parted/parted-*/po/Make*
user/parted/parted-*/po/POTFILES
user/util-linux/util-linux-*/m4/*.m4
user/util-linux/util-linux-*/po/Makevars.template
tools/mksquashfs_xz/xz-*/po/Makevars.template
user/mtd-utils/mtd-utils-*/tests/fs-tests/*.sh
user/mtd-utils/mtd-utils-*/tests/fs-tests/stress/*.sh
user/mtd-utils/mtd-utils-*/tests/ubi-tests/*.sh
user/mtd-utils/mtd-utils-*/tests/ubifs_tools-tests/*.sh
user/mtd-utils/mtd-utils-*/tests/ubifs_tools-tests/*/*.sh
